@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #FFDFE0;
  --secondary-color: #F7F1F1;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: "OCR A Std", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #f0f0f0; /* You can customize the scrollbar color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* You can customize the scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* You can customize the scrollbar thumb color */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* You can customize the scrollbar track color */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-animation {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.welcome-form label {
  display: block;
  margin-bottom: 10px;
}

.welcome-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

.welcome-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  color: #FFD91E; /* Set the color to red or any other desired style */

}

/* .letterImg{
  background: url('./../public/letter.jpg') center/contain fixed;
  display: flex;
  align-items: center;
  justify-content: center;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-fade-in{
  opacity: 0;
 
  animation: fadeIn 1s ease-in-out 2s forwards; /* 2s delay before starting the animation */
}

.blurMask{
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Red background with 50% opacity */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  animation: fadeIn 1s ease-in-out 1.5s forwards; 
  
}
.welcomeForm{
  left:50%;
  top: 50%;
}